 body {
  padding-top: 80px;
  text-align: center;
  font-family: monaco, monospace;
  background: url(http://media.giphy.com/media/Jrd9E2kuPuOYM/giphy.gif) 50%;
  background-size: cover;
}



h1 {
  font-size: 30px
}
h2 {
  font-size: 20px;
}



.menu {
 
  display: flex;
  flex-wrap:nowrap;
  flex-direction:row;
  justify-content:space-around;
  align-items:baseline;
  color:white;
  font-family: Verdana, sans serif;
  
  }
  
  
  
.menu h1 {
  color:#fff;
  background-color:grey;
  font-family: Verdana, sans serif;
  
  } 


.menu h2 {

  background-color:grey;
  font-family: Verdana, sans serif;
  
  } 
  
  .menu li {
   
   list-style-type:none;
  
    
  }
  


.container {

	width:80%;
	margin:auto;
}



.summary {
background-color:white;
padding:10px 10px 10px 10px;


}

.contactform {

		margin-left:20%;
}

.myform label{  

	padding:30px;
	display:block;


}